%h2 Final product should:
%ul
  %li track tournaments
  %li track players
  %li track player scores
%h2 Future
%ul
  %li run blinds clock
  %li chip value color key
  %li manage tourney from phone
%hr
%h3
  = link_to 'Leagues', leagues_path
  \| 
  = link_to 'Tournaments', tournaments_path
  \| 
  = link_to 'Players', players_path